.header_layout_pagina {
    background: var(--bg-header);
    color: var(--text-primary);
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    z-index: 9;
    padding: 0 15px;
    height: var(--alto-header-admin);
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    border-bottom: 1px solid var(--border-color);
}

.layout_menu_hamburguesa_celular {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header_layout_pagina {
        justify-content: space-between;
    }

    .layout_menu_hamburguesa_celular {
        display: block;
    }
}