.contenedor_aside {
    background: var(--color-fondo-sidebar);
    position: fixed;
    left: calc(-1 * (var(--ancho-sidebar-admin-item) + var(--ancho-sidebar-admin-menu)));
    width: var(--ancho-sidebar-admin-item);
    height: 100%;
    top: 0;
    z-index: 99;
    border-right: 1px solid var(--border-color);
}

.contenedor_aside a {
    cursor: pointer;
}

.contenedor_nav_iconos {
    height: 100vh;
    z-index: 99;
    position: relative;
    background: var(--color-fondo-sidebar);
}

.contenedor_nav_iconos .contenedor_menu_hamburguesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: var(--alto-header-admin);
    color: var(--color-texto-sidebar);
    cursor: pointer;
    font-size: var(--fs-md);
}

.contenedor_nav_iconos ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: var(--color-texto-sidebar);
    scrollbar-width: none;
    overflow: hidden scroll;
    padding: 10px 10px;
    height: calc(100% - var(--alto-header-admin));
    font-size: var(--fs-md);
}

.contenedor_nav_iconos ul .nav_icono_seleccionado {
    background-color: var(--color-fondo-sidebar-active);
    color: var(--color-texto-sidebar-active);
}

.contenedor_nav_iconos ul li {
    padding: 10px;
    border-radius: 8px;
    font-size: var(--fs-md);
    cursor: pointer;
}

.contenedor_nav_iconos ul li:not(.nav_icono_seleccionado):hover {
    background-color: var(--color-fondo-sidebar-hover);
}

@media (min-width: 768px) {
    .contenedor_aside {
        left: 0;
    }
}

@media (max-width: 768px) {

    .contenedor_aside {
        left: calc(-1 * (var(--ancho-sidebar-admin-item) + var(--ancho-sidebar-admin-menu)));
    }

    .contenedor_aside.estilo_abierto_contenedor_aside {
        left: 0;
    }
}