:root {
    /* Brand */
    --color-primario: #02424E;
    --color-secundario: #FFA726;

    /* Neutrals */
    --color-light: #fafafa;
    --color-light-texto: #334155;
    --color-light-border: #e2e8f0;
    --color-light-contraste: #ffffff;

    --color-dark: #05070c;
    --color-dark-texto: #e5e7eb;
    --color-dark-border: #1e293b;
    --color-dark-contraste: #070b14;
}