:root {
    --space-xs: 0.5rem;
    /* 8px */
    --space-sm: 0.75rem;
    /* 12px */
    --space-md: 1.25rem;
    /* 20px */
    --space-lg: 2.5rem;
    /* 40px */
    --space-xl: 4.375rem;
    /* 70px */

    --padding-x: var(--space-md);
    --padding-y: var(--space-md);

    --gap-desktop: var(--space-lg);
    --gap-mobile: var(--space-md);
}