:root {
    --ancho-centrar-pagina: 1280px;

    --padding-costados: 20px;
    --padding-arriba-abajo: 20px;

    --gap-computadora: 40px;
    --gap-movil: 30px;

    --alto-header-web-banner: 0px;
    --alto-header-web: 100px;
    --alto-header-admin: 60px;

    --ancho-sidebar-admin-item: 80px;
    --ancho-sidebar-admin-menu: 240px;

    --view-computadora: 1024px;
    --view-tablet: 768px;
    --view-movil: 500px;

    --borde-radius: 14px;
}