/* ALERTAS GENERALES */
.g_alerta {
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--fs-subtitulo);
}

.g_alerta.success {
    background-color: #f0fdf4;
    border: 1px solid green;
    color: green;
}

.g_alerta.error {
    background-color: #fef2f2;
    border: 1px solid red;
    color: red;
}

.g_alerta.info {
    background-color: #eff6ff;
    border: 1px solid blue;
    color: blue;
}

.g_alerta i {
    font-size: var(--fs-subtitulo);
}

/* ALERTA CAJA */
.g_evidencia_status_box {
    padding: 12px;
    border-radius: 10px;
    font-size: 13px;
}

.g_evidencia_status_success {
    background: #ecfdf5;
    border: 1px solid #a7f3d0;
    color: #065f46;
}

.g_evidencia_status_info {
    background: #f0f9ff;
    border: 1px solid #bae6fd;
    color: #075985;
}

.g_evidencia_status_label {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 4px;
    opacity: 0.8;
}

/*ALERTA RESALTADO*/
.g_resaltado {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    line-height: 1.5;
    font-size: 13px;
    border: 1px solid transparent;
}

.g_resaltado i {
    font-size: 16px;
    margin-top: 2px;
}

.g_resaltado strong {
    font-weight: 600;
}

.g_resaltado.info {
    color: #0369a1;
}

.g_resaltado.info i {
    color: #0ea5e9;
}

.g_resaltado.info strong {
    color: #0c4a6e;
}

.g_resaltado.warning {
    color: #92400e;
}

.g_resaltado.warning i {
    color: #f59e0b;
}

.g_resaltado.warning strong {
    color: #78350f;
}

.g_resaltado.error {
    color: #b91c1c;
}

.g_resaltado.error i {
    color: #ef4444;
}

.g_resaltado.error strong {
    color: #7f1d1d;
}