/* ALERTAS GENERALES */
.g_alerta {
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--fs-subtitulo);

}

/* ÉXITO */
.g_alerta.success {
    background-color: #f0fdf4;
    border: 1px solid green;
    color: green;
}

/* ERROR */
.g_alerta.error {
    background-color: #fef2f2;
    border: 1px solid red;
    color: red;
}

.g_alerta.info {
    background-color: #eff6ff;
    border: 1px solid blue;
    color: blue;
}

/* ÍCONO OPCIONAL (si usas fontawesome) */
.g_alerta i {
    font-size: var(--fs-subtitulo);
}