/* ALERTAS GENERALES */
.g_alerta {
    padding: 12px 16px;
    border-radius: 6px;
    font-weight: var(--fw-medium);
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--fs-alerta);
}

.g_alerta i {
    font-size: var(--fs-alerta);
}

.g_alerta.success {
    background-color: #f0fdf4;
    border: 1px solid green;
    color: green;
}

.g_alerta.error {
    background-color: #fef2f2;
    border: 1px solid red;
    color: red;
}

.g_alerta.info {
    background-color: #eff6ff;
    border: 1px solid blue;
    color: blue;
}

/* ALERTA CAJA */
.g_resaltado_caja {
    padding: 12px;
    border-radius: 10px;
    font-size: var(--fs-alerta);
}

.g_resaltado_caja .g_resaltado_caja_titulo {
    display: block;
    font-weight: var(--fw-bold);
    font-size: var(--fs-alerta);
    text-transform: uppercase;
    margin-bottom: 4px;
    opacity: 0.8;
}

.g_resaltado_caja strong {
    font-weight: var(--fw-bold);
}

.g_resaltado_caja.success {
    background: #ecfdf5;
    border: 1px solid #a7f3d0;
    color: #065f46;
}

.g_resaltado_caja.info {
    background: #f0f9ff;
    border: 1px solid #bae6fd;
    color: #075985;
}

/*ALERTA RESALTADO*/
.g_resaltado_indicacion {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    line-height: 1.5;
    font-size: var(--fs-alerta);
    border: 1px solid transparent;
}

.g_resaltado_indicacion i {
    font-size: var(--fs-alerta);
    margin-top: 2px;
}

.g_resaltado_indicacion strong {
    font-weight: var(--fw-semibold);
}

.g_resaltado_indicacion.info {
    color: #0369a1;
}

.g_resaltado_indicacion.info i {
    color: #0ea5e9;
}

.g_resaltado_indicacion.info strong {
    color: #0c4a6e;
}

.g_resaltado_indicacion.warning {
    color: #92400e;
}

.g_resaltado_indicacion.warning i {
    color: #f59e0b;
}

.g_resaltado_indicacion.warning strong {
    color: #78350f;
}

.g_resaltado_indicacion.error {
    color: #b91c1c;
}

.g_resaltado_indicacion.error i {
    color: #ef4444;
}

.g_resaltado_indicacion.error strong {
    color: #7f1d1d;
}