.g_panel {
    padding: 10px;
    background-color: var(--color-light-contraste);
    background-clip: border-box;
    border: var(--borde-card);
    border-radius: var(--borde-radius);
}

.g_panel_titulo {
    font-size: var(--fs-subtitulo);
    margin-bottom: 8px;
    color: var(--color-light-texto);
    font-weight: var(--fw-bold);
}

.g_panel_titulo.centrar {
    text-align: center;
}

.g_panel_parrafo {
    font-size: 12px;
    margin-bottom: 8px;
    color: var(--color-dark-contraste);
    font-weight: var(--fw-semibold);
}

.g_panel_dashboard_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    width: 100%;
}

.g_panel_dashboard {
    display: flex;
    justify-content: space-between;
    border-left-width: 4px;
    border-left-style: solid;
    padding-left: 10px;
}

.g_panel_dashboard_valor {
    display: flex;
    flex-direction: column;
}

.g_panel_dashboard h2 {
    font-size: var(--fs-subtitulo);
    color: var(--color-light-texto);
    font-weight: var(--fw-bold);
}

@media (max-width: 768px) {
    .g_panel {
        padding: 10px;
    }
}