html {
    font-size: 16px;
}

body {
    font-family: var(--font-sans);
    font-size: var(--fs-md);
    line-height: var(--lh-normal);
    /*color: var(--color-texto-primario);*/
    background: var(--color-fondo);
}