html {
    font-size: 15px;
}

::selection {
    background-color: var(--color-primario);
    color: var(--color-blanco);
}

body {
    font-family: var(--font-sans);
    font-size: var(--fs-md);
    line-height: var(--lh-normal);
    /*color: var(--color-texto-primario);*/
    background: var(--color-fondo);
}